@CHARSET "UTF-8";


body {
	background: #466BB0; 
	color: black;
}
.container{
	height: 95vh;
}
.navbar {
  margin-bottom: 0px;
  background-color: black;
}

.navbar-brand a {
	color: #466BB0;
}

.navbar-header button {
	background-color: #E0E0E0;
}
.speech-only {
	margin-top: 20px;
	height: 5.0em;
	overflow: scroll;
	color: #000000;
	background-color: white;
	font-size: 1.5em;
}

.mic_disabled {
	opacity: 1.0;
}
.mic_enabled {
	opacity: 1.0;
}

.buttons img {
	margin: 20px;
}
.buttons img:hover {
	opacity: 0.8;
}

.title h1, h3 {
	text-align: center;
	color: black;
}

